.widget-number {
  background-color: #47bbb3;
}
.widget-number .title {
  color: rgba(255, 255, 255, 0.7);
}
.widget-number .value {
  color: white;
}
.widget-number .change-rate {
  font-weight: 500;
  font-size: 30px;
  color: white;
}
.widget-number .more-info {
  color: rgba(255, 255, 255, 0.7);
}
.widget-number .updated-at {
  color: rgba(0, 0, 0, 0.3);
}
