<#macro dashboardLayout title="Dashboard Layout">
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <title>${title}</title>

        <script type="text/javascript" src="/compiled/assets/application.js"></script>
        <link rel="stylesheet" href="/compiled/assets/application.css">

        <link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
        <link rel="icon" href="/assets/favicon.ico">
    </head>
    <body>

    <script type='text/javascript'>
        $(function () {
            // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
            Dashing.widget_base_dimensions = [370, 340]
            Dashing.numColumns = 5
        });
    </script>
    <div class="container">
        <#nested/>
    </div>
    </body>
    </html>
</#macro>
