<#import "../layout/dashboard.ftl.html" as layout>
    <@layout.dashboardLayout "Home page">
    <div class="gridster">
        <ul>
            <!--<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">-->
                <!--<div data-view="Image" data-image="/images/rp.png"></div>-->
            <!--</li>-->
            <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
                <div data-id="welcome" data-view="Text" data-title="Hello" data-text="This is your shiny new dashboard."
                     data-moreinfo="Protip: You can drag the widgets around!"></div>
            </li>

            <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
                <div data-id="synergy" data-view="Meter" data-title="Synergy" data-min="0" data-max="100"></div>
            </li>

            <li data-row="1" data-col="1" data-sizex="1" data-sizey="2" data-unordered="true">
                <div data-id="vcsTopCommiters" data-view="List" data-unordered="true" data-title="Top Commiters"
                     data-moreinfo="# of commits per day"></div>
             </li>

            <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
                <div data-id="vcsCommitsProgress" data-view="Number" data-title="Commits Progress"
                     data-moreinfo="# of commits per day" data-prefix="#"></div>
            </li>

            <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
                <div data-id="convergence" data-view="Graph" data-title="Convergence"
                     style="background-color:#ff9618"></div>
            </li>
            <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
                <div data-id="clocks" data-view="Clock" data-title="Clocks"></div>
                <i class="icon-time icon-background"></i>
            </li>
            <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
                <div data-id="progress_bars" data-view="ProgressBars" data-title="Project Bars"></div>
            </li>
        </ul>
        <!--<center><div style="font-size: 12px">Try this: curl -d '{ "auth_token": "YOUR_AUTH_TOKEN", "text": "Hey, Look what I can do!" }' \http://<%=request.host%>:<%=request.port%>/widgets/welcome</div></center>-->
    </div>
</@layout.dashboardLayout>
