<#macro myLayout title="Layout example">
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <title>${title}</title>
        <link rel="stylesheet" href="/assets/stylesheets/application-all.css">

        <script type="text/javascript" src="/assets/javascripts/dashing/es5-shim.js"></script>
        <script type="text/javascript" src="/assets/javascripts/dashing/jquery.js"></script>
        <script type="text/javascript" src="/assets/javascripts/dashing/batman.js"></script>
        <script type="text/javascript" src="/assets/javascripts/dashing/batman.jquery.js"></script>


        <script type="text/javascript" src="/assets/javascripts/gridster/jquery.gridster.js"></script>
        <script type="text/javascript" src="/assets/javascripts/gridster/jquery.leanModal.min.js"></script>
        <!--<script type="text/javascript" src="http://cdn.jsdelivr.net/gridster.js/0.5.0/jquery.gridster.js"></script>-->
        <!--<script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.leanmodal/1.1/jquery.leanmodal.min.js"></script>-->


        <script type="text/javascript" src="/assets/javascripts/d3-3.2.8.js"></script>
        <script type="text/javascript" src="/assets/javascripts/jquery.knob.js"></script>
        <script type="text/javascript" src="/assets/javascripts/rickshaw-1.4.3.min.js"></script>

        <!--<script type="text/javascript" src="/assets/javascripts/libs-all.js"></script>-->

        <script type="text/javascript" src="/assets/javascripts/dashing.js"></script>
        <script type="text/javascript" src="/assets/javascripts/application.js"></script>
    </head>
    <body>

    <script type='text/javascript'>
//        $(function() {
//            // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
//            Dashing.widget_base_dimensions = [370, 340]
//            Dashing.numColumns = 5
//        });
    </script>
    <div class="container">
        <#nested/>
    </div>
    </body>
    </html>
</#macro>
